{% set menu1 = 'Accueil' %}
{% set menu1Link = path('homepage') %}

{% set menu2 = "S'inscrire" %}
{% set menu2Link = path('security_registration') %}

{% set menu3 = "Se connecter" %}
{% set menu3Link = path('security_login') %}

{% set menu4 = "Se deconnecter" %}
{% set menu4Link = path('logout') %}

<nav class="bg-gray-900">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">

        <div class="relative flex items-center justify-between h-16">

            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button id="mobile-menu-icon" type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu" aria-expanded="false">
                    <svg id="mobile-menu-icon-svg-open" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                    <svg id="mobile-menu-icon-svg-close" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>

            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a href="{{ menu1Link }}"
                           class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ menu1 }}</a>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ menu4Link }}"
                               class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ menu4 }}</a>
                        {% else %}
                            <a href="{{ menu2Link }}"
                               class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ menu2 }}</a>
                            <a href="{{ menu3Link }}"
                               class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ menu3 }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <button id="toggleBtn"
                    class="ml-3 mb-2 bg-gray-700 text-white font-bold py-1 px-2 rounded">
            </button>

        </div>

    </div>

    <!-- Mobile menu -->
    <div class="sm:hidden hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a href="{{ menu1Link }}"
               class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">{{ menu1 }}</a>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ menu4Link }}"
                   class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ menu4 }}</a>
            {% else %}
                <a href="{{ menu2Link }}"
                   class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ menu2 }}</a>
                <a href="{{ menu3Link }}"
                   class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ menu3 }}</a>
            {% endif %}
        </div>
    </div>

</nav>
