{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block body %}

    {% include 'shared/_flash.html.twig' %}

    <div class="max-w-screen-xl mx-auto min-h-screen/80 mb-24 px-4">

        <h1 class="text-2xl my-12 mx-auto text-center text-grey-800 dark:text-white">
            Créer un trick
        </h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="md:flex">
            <div class="md:w-1/2 w-full px-5">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
            </div>
            <div class="md:w-1/2 w-full px-5">
                {{ form_row(form.mainPicture) }}
                {{ form_row(form.category) }}
            </div>
        </div>

        <div class="px-5">
            {{ form_row(form.videos) }}
        </div>

        <div class="px-5">
            {{ form_row(form.pictures) }}
        </div>

        <button class="mt-8 text-white dark:text-black bg-gray-800 dark:bg-gray-300 rounded-lg text-lg px-2 py-1"
                type="submit">Sauvegarder
        </button>

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create-tricks') }}
{% endblock %}

{#
VIDEOS
#}

{% block _trick_create_videos_entry_widget %}

    <div id="block_{{ id }}" class="w-full md:w-1/2 px-0 md:px-5">
        <div class="flex items-baseline">
            <div class="w-full">
                {{ form_widget(form) }}
            </div>
            <button type="button"
                    data-action="delete"
                    data-target="block_{{ id }}"
                    class="ml-5 self-end bg-red-700 text-white px-3 py-2 rounded-md">X
            </button>
        </div>
    </div>
{% endblock %}

{% block _trick_create_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_create_videos_widget %}
    {{ form_widget(form, { 'attr': {'class': 'w-full md:flex flex-wrap'} }) }}

    <input type="hidden" id="widgets-counter" value="0">

    <button type="button"
            id="add-another-collection-widget"
            class="bg-blue-700 mt-5 text-white px-3 py-2 rounded-md"
            data-list-selector="#email-fields-list">
        Ajouter une video
    </button>

{% endblock %}

{#
PICTURE
#}

{% block _trick_create_pictures_entry_widget %}

    <div id="block_{{ id }}" class="w-full md:w-1/2 px-0 md:px-5">
        <div class="flex items-baseline">
            <div class="w-full">
                {{ form_widget(form) }}
            </div>
            <button type="button"
                    data-action="delete-picture"
                    data-target="block_{{ id }}"
                    class="ml-5 self-end bg-red-700 text-white px-3 py-2 rounded-md">X
            </button>
        </div>

    </div>
{% endblock %}

{% block _trick_create_pictures_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_create_pictures_widget %}
    {{ form_widget(form, { 'attr': {'class': 'w-full md:flex flex-wrap'} }) }}

    <input type="hidden" id="picture-widgets-counter" value="0">

    <button type="button"
            id="add-another-collection-widget-picture"
            class="bg-blue-700 mt-5 text-white px-3 py-2 rounded-md"
            data-list-selector="#email-fields-list">
        Ajouter une image
    </button>

{% endblock %}
