{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}Edition de {{ trick.title }}{% endblock %}

{% block body %}

    {% include 'shared/_flash.html.twig' %}

    <div class="max-w-screen-xl mx-auto mb-24 px-4 sm:px-6 lg:px-8">

        <h1 class="text-2xl my-12 mx-auto text-center text-grey-800 dark:text-white">
            Editer le trick : {{ trick.title }}
        </h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="flex justify-center flex-col items-center">
            {% if form.vars.data.mainPicture %}
                <h2 class="mb-3 text-xl text-center dark:text-white">Image mise en avant actuellement:</h2>
                <img class="w-96 mx-auto"
                     src="{{ asset('assets/uploads/tricks-main-picture/')~form.vars.data.mainPicture }}"
                     alt="Main Picture">
            {% endif %}
            {{ form_row(form.mainPicture) }}
        </div>

        <hr class="my-8 mx-auto hr-custom">

        <div class="md:flex">
            <div class="md:w-1/2 w-full px-5">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
            </div>
            <div class="md:w-1/2 w-full px-5">
                {{ form_row(form.category) }}
            </div>
        </div>

        <hr class="my-8 mx-auto hr-custom">

        <div class="px-5">
            {{ form_row(form.videos) }}
        </div>

        <div class="px-5">
            {{ form_row(form.pictures) }}
        </div>

        <button class="mt-8 text-white dark:text-black bg-gray-800 dark:bg-gray-300 rounded-lg text-lg px-2 py-1"
                type="submit">Sauvegarder
        </button>

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('edit-tricks') }}
{% endblock %}

{#
VIDEOS
#}

{% block _trick_edit_videos_entry_widget %}

    <div id="block_{{ id }}" class="w-full md:w-1/2 px-0 md:px-5">
        <div class="flex items-baseline">
            <div class="w-full">
                {{ form_widget(form) }}
            </div>
            <button type="button"
                    data-action="delete"
                    data-target="block_{{ id }}"
                    class="ml-5 self-end bg-red-700 text-white px-3 py-2 rounded-md">X
            </button>
        </div>

    </div>
{% endblock %}

{% block _trick_edit_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_edit_videos_widget %}
    {{ form_widget(form, { 'attr': {'class': 'w-full md:flex flex-wrap'} }) }}

    <input type="hidden" id="widgets-counter" value="0">

    <button type="button"
            id="add-another-collection-widget"
            class="bg-blue-700 mt-5 text-white px-3 py-2 rounded-md"
            data-list-selector="#email-fields-list">
        Ajouter une video
    </button>

{% endblock %}

{#
PICTURES
#}

{% block _trick_edit_pictures_entry_widget %}

    <div id="block_{{ id }}" class=" w-full md:w-1/2 px-0 md:px-5">

        <div class="m-2 p-2 flex relative bg-gray-100 dark:bg-gray-900 rounded-xl shadow-xl ">
            <button type="button"
                    data-action="delete-picture"
                    data-target="block_{{ id }}"
                    class="mr-3 absolute top-2 right-0 self-end bg-red-700 text-white px-3 py-2 rounded-md">X
            </button>

            {% if value.fileName is defined %}
                <img class="w-1/3 mr-3 rounded-xl"
                     src="{{ asset('assets/uploads/tricks-pictures/')~value.fileName }}"
                     alt="Main Picture">

            {% endif %}

            <div class="w-full">
                {{ form_widget(form) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block _trick_edit_pictures_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_edit_pictures_widget %}
    {{ form_widget(form, { 'attr': {'class': 'w-full md:flex flex-wrap'} }) }}

    <input type="hidden" id="picture-widgets-counter" value="0">

    <button type="button"
            id="add-another-collection-widget-picture"
            class="bg-blue-700 mt-5 text-white px-3 py-2 rounded-md"
            data-list-selector="#email-fields-list">
        Ajouter une image
    </button>

{% endblock %}
