{% extends 'base.html.twig' %}

{% block body %}

    {% include 'shared/_flash.html.twig' %}

    <h1 class="text-2xl mt-12 mx-auto text-center text-grey-800 dark:text-white">{{ trick.title }}</h1>

    <div class="py-12 my-12 bg-white dark:bg-gray-700">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

            <nav class="bg-gray-200 dark:bg-gray-900 dark:text-white max-w-3xl p-3 rounded w-full m-4">
                <ol class="list-reset flex text-grey-dark">
                    <li>
                        <a href="{{ path('homepage') }}" class="text-blue font-bold">Accueil</a>
                    </li>
                    <li><span class="mx-2">/</span></li>
                    <li>
                        <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}"
                           class="text-blue font-bold">{{ trick.category.name }}</a>
                    </li>
                    <li><span class="mx-2">/</span></li>
                    <li>{{ trick.title }}</li>

                </ol>
            </nav>

            <div class="flex p-1 bg-white rounded">
                {% include '_delete_edit_trick_icons.html.twig' %}
            </div>

            <img src="{{ asset('assets/uploads/tricks-main-picture/')~trick.mainPicture }}"
                 alt="{{ trick.title }} Main Picture">

            <div class="flex flex-wrap mt-12 justify-center align-top">
                {% for picture in trick.pictures %}
                    <img class="w-72 h-56 mx-5 object-cover block"
                         src="{{ asset('assets/uploads/tricks-pictures/')~picture.fileName }}"
                         alt="{{ trick.title }} Collection Picture">
                {% endfor %}
            </div>

            <div class="flex mt-12 justify-center">
                {% for video in trick.videos %}
                    <iframe class="m-2"
                            width="320"
                            height="180"
                            src="https://www.youtube.com/embed/{{ video.link|youtubeLinkToId }}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}