{% extends 'base.html.twig' %}

{% block body %}

    {% include 'shared/_flash.html.twig' %}

    <h1 class="text-2xl mt-12 mx-auto text-center text-grey-800 dark:text-white">{{ trick.title }}</h1>

    <div class="py-12 my-12 bg-white dark:bg-gray-700">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

            <nav class="bg-gray-200 dark:bg-gray-900 dark:text-white max-w-3xl p-3 rounded w-full m-4">
                <ol class="list-reset flex text-grey-dark">
                    <li>
                        <a href="{{ path('homepage') }}" class="text-blue font-bold">Accueil</a>
                    </li>
                    <li><span class="mx-2">/</span></li>
                    <li>
                        <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}"
                           class="text-blue font-bold">{{ trick.category.name }}</a>
                    </li>
                    <li><span class="mx-2">/</span></li>
                    <li>{{ trick.title }}</li>

                </ol>
            </nav>

            <div class="flex p-1 bg-white rounded">
                {% include '_delete_edit_trick_icons.html.twig' %}
            </div>

            <img src="{{ asset('assets/uploads/tricks-main-picture/')~trick.mainPicture }}"
                 alt="{{ trick.title }} Main Picture">

            <div class="flex flex-wrap mt-12 justify-center align-top">
                {% for picture in trick.pictures %}
                    <img class="w-72 h-56 mx-5 object-cover block"
                         src="{{ asset('assets/uploads/tricks-pictures/')~picture.fileName }}"
                         alt="{{ trick.title }} Collection Picture">
                {% endfor %}
            </div>

            <div class="flex mt-12 justify-center">
                {% for video in trick.videos %}
                    <iframe class="m-2"
                            width="320"
                            height="180"
                            src="https://www.youtube.com/embed/{{ video.link|youtubeLinkToId }}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                {% endfor %}
            </div>


            <div class="py-12 my-12 bg-white dark:bg-gray-700">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="md:w-1/2 w-full px-5">
                        {{ form_row(form.content) }}
                    </div>
                    <button class="mt-8 text-white dark:text-black bg-gray-800 dark:bg-gray-300 rounded-lg text-lg px-2 py-1"
                            type="submit">Envoyer votre commentaire
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>


            <div id="comments-container">
                {{ include('trick/_comments.html.twig') }}
            </div>
            <button id="load-more-comments-btn"
                    data-current-comments-nbr="0"
                    class="block mt-12 mx-auto center px-3 py-2 bg-gray-800 dark:bg-gray-100 text-gray-100 dark:text-gray-800 text-xl rounded">
                Voir Plus
            </button>
        </div>
    </div>

    <script>
        window.onload = function () {
            // Init data btn data attributes
            const btn = document.getElementById('load-more-comments-btn');
            const initialCommentsNbr = document.querySelectorAll("#comments-container > div").length;
            btn.dataset.currentCommentsNbr = initialCommentsNbr.toString();

            btn.addEventListener('click', function () {
                // Build query string
                let params = new URLSearchParams();
                params.append('currentComments', btn.dataset.currentCommentsNbr);

                // Get Active URL
                const url = new URL(window.location.href);

                // load text
                btn.innerText = "chargement..."
                btn.style.pointerEvents = "none";

                //Ajax request
                fetch(url.pathname + "?" + params.toString() + "&ajax=1", {
                    headers: {
                        "X-Requested-With": "XMLHttpRequest"
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        const content = document.getElementById('comments-container');
                        content.innerHTML = content.innerHTML + data.content;

                        if (data.content.length === 0) {
                            btn.innerText = "Plus d'autres commentaires";
                            btn.style.pointerEvents = "none";
                        } else {
                            btn.innerText = "Voir Plus";
                            btn.style.pointerEvents = "auto";
                        }
                    })
                    .catch(e => alert(e));

                // Update btn data attributes
                let newCommentsNbr = initialCommentsNbr + parseInt(btn.dataset.currentCommentsNbr);
                btn.dataset.currentCommentsNbr = newCommentsNbr.toString();
            });
        }

    </script>

{% endblock %}